<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="FHQuotesService_SecurePipeEndpoint" />
        <binding name="FHQuotesService_UnsecurePipeEndpoint">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="FHQuotesService_SecureTcpEndpoint" />
        <binding name="FHQuotesService_UnsecureTcpEndpoint">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="FHQuotesService_SecureHttpEndpoint" />
        <binding name="FHQuotesService_UnsecureHttpEndpoint">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="FHQuotesService_SecureHttpEndpoint"
                address="http://localhost:9000/sve2/FHQuotesService/secure"
                binding="wsHttpBinding"
                bindingConfiguration="FHQuotesService_SecureHttpEndpoint"
                contract="Sve2.FHQuotes.Interfaces.IQuotes">
        <identity>
          <userPrincipalName value="HERZOG-SURFACE\Thomas" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9000/sve2/FHQuotesService/unsecure"
                binding="wsHttpBinding" bindingConfiguration="FHQuotesService_UnsecureHttpEndpoint"
                contract="Sve2.FHQuotes.Interfaces.IQuotes" name="FHQuotesService_UnsecureHttpEndpoint" />
      <endpoint address="net.tcp://localhost:9001/sve2/FHQuotesService/secure"
                binding="netTcpBinding" bindingConfiguration="FHQuotesService_SecureTcpEndpoint"
                contract="Sve2.FHQuotes.Interfaces.IQuotes" name="FHQuotesService_SecureTcpEndpoint">
        <identity>
          <userPrincipalName value="HERZOG-SURFACE\Thomas" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:9001/sve2/FHQuotesService/unsecure"
                binding="netTcpBinding" bindingConfiguration="FHQuotesService_UnsecureTcpEndpoint"
                contract="Sve2.FHQuotes.Interfaces.IQuotes" name="FHQuotesService_UnsecureTcpEndpoint" />
      <endpoint address="net.pipe://localhost/sve2/FHQuotesService/secure"
                binding="netNamedPipeBinding" bindingConfiguration="FHQuotesService_SecurePipeEndpoint"
                contract="Sve2.FHQuotes.Interfaces.IQuotes" name="FHQuotesService_SecurePipeEndpoint">
        <identity>
          <userPrincipalName value="HERZOG-SURFACE\Thomas" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/sve2/FHQuotesService/unsecure"
                binding="netNamedPipeBinding" bindingConfiguration="FHQuotesService_UnsecurePipeEndpoint"
                contract="Sve2.FHQuotes.Interfaces.IQuotes" name="FHQuotesService_UnsecurePipeEndpoint" />
    </client>
  </system.serviceModel>
</configuration>