<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!-- WCF configuration -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpGetUrl="httpmex" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="UnsercureHttp">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="UnsercureTcp">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="UnsercurePipe">
          <security mode="None"/>
        </binding>
      </netNamedPipeBinding>
    </bindings>

    <services>
      <service name="Sve2.FHQuotes.Services.FHQuotesService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/sve2/FHQuotesService"/>
            <add baseAddress="net.tcp://localhost:9001/sve2/FHQuotesService"/>
            <add baseAddress="net.pipe://localhost/sve2/FHQuotesService"/>
          </baseAddresses>
        </host>

        <!-- Http endpoints -->
        <endpoint name="FHQuotesService_SecureHttpEndpoint"
                  contract="Sve2.FHQuotes.Interfaces.IQuotes"
                  address="secure"
                  binding="wsHttpBinding" />

        <endpoint name="FHQuotesService_UnsecureHttpEndpoint"
                  contract="Sve2.FHQuotes.Interfaces.IQuotes"
                  address="unsecure"
                  binding="wsHttpBinding"
                  bindingConfiguration="UnsercureHttp"/>

        <endpoint name="FHQuotesService_MEX"
                  address="mex"
                  kind="mexEndpoint"/>

        <!-- Tcp endpoints -->
        <endpoint name="FHQuotesService_SecureTcpEndpoint"
                  contract="Sve2.FHQuotes.Interfaces.IQuotes"
                  address="secure"
                  binding="netTcpBinding" />
        
        <endpoint name="FHQuotesService_UnsecureTcpEndpoint"
                  contract="Sve2.FHQuotes.Interfaces.IQuotes"
                  address="unsecure"
                  binding="netTcpBinding"
                  bindingConfiguration="UnsercureTcp"/>

        <!-- Tcp endpoints -->
        <endpoint name="FHQuotesService_SecurePipeEndpoint"
                  contract="Sve2.FHQuotes.Interfaces.IQuotes"
                  address="secure"
                  binding="netNamedPipeBinding" />

        <endpoint name="FHQuotesService_UnsecurePipeEndpoint"
                  contract="Sve2.FHQuotes.Interfaces.IQuotes"
                  address="unsecure"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="UnsercurePipe"/>

      </service>
    </services>
  </system.serviceModel>
</configuration>